.section-dexes {
  .custom-heading {
    max-width: 630px;
    z-index: 999;
  }
  .dex-item {
    margin-bottom: 24px;
    text-align: center;
    p {
      color: #ffffff;
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}
