nav(class="navbar" role="navigation" aria-label="main navigation")
  div(class="container")
    div(class="navbar-brand")
      a(class="navbar-item" href="https://cairoswap.com" title="CairoSwap")
        img(class="logo" src="./assets/images/logo.svg" alt="CairoSwap")
      a(role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar")
        svg(aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
          path(fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" )

    div(id="navbar" class="navbar-menu")
      div(class="navbar-nav")
        //a(class="navbar-item" href="/" title="Home") Home
        a(class="navbar-item" title="Technology" data-scroll-nav="1") Technology
        a(class="navbar-item" title="About" data-scroll-nav="2") About
        a(class="navbar-item" title="Projects" data-scroll-nav="3") Projects
        a(class="navbar-item" title="Contact" data-scroll-nav="4") Contact

    div(class="button-wrapper")
      a(class="button" href="https://goerli.cairoswap.com" target="_blank") Launch dApp
