section(class="section-project" id="project" data-scroll-index="3")
  div(class="container")
    div(class="row gx-5 align-items-center section-inner")
      div(class="col-12 mb-5")
        h2(class="heading heading--lg mb-2 text-uppercase" data-aos="flip-left") Products
      div(class="col-12 col-sm-6 col-md-4")
        div(class="project-item" data-aos="fade-up")
          img(class="about-img" src="./assets/images/products.png", alt="Aggregation Protocol")
          h3 Aggregation Protocol
          p Liquidity aggregation from multiple DEXes to ensure the best swap rates.
      div(class="col-12 col-sm-6 col-md-4")
        div(class="project-item" data-aos="fade-up")
          img(class="about-img" src="./assets/images/products.png", alt="Aggregation Protocol")
          h3 Limit Order Protocol
          p The most innovative and flexible limit order functionality in DeFi.
      div(class="col-12 col-sm-6 col-md-4")
        div(class="project-item" data-aos="fade-up")
          img(class="about-img" src="./assets/images/products.png", alt="Aggregation Protocol")
          h3 Liquidity Protocol
          p A next-generation AMM that offers capital efficiency to liquidity providers.
