section(class="section-hero" id="hero")
  <img class="img-1 aos-init aos-animate" src="./assets/images/hero-img.png" alt="" data-aos="zoom-in-up" data-aos-delay="800">
  div(class="container hero-inner")
    div(class="hero-content")
      h1(data-aos="fade-up" data-aos-delay="200") Seamless Access to<br/> Decentralized Finance </br> on Starknet
      a(class="button" href="https://goerli.cairoswap.com" target="_blank") Launch dApp
