section(class="section-about mb-7" id="about" data-scroll-index="2")
  div(class="container")
    div(class="about-wrapper")
      img(class="about-img" src="./assets/images/liquidity.png", alt="Never-ending liquidity")
      div(class="about-content")
        h2(class="heading heading--lg mb-2 text-uppercase" data-aos="fade-up") Never-ending liquidity
        p(data-aos="fade-up" data-aos-delay="300") CairoSwap instantly analyzes thousands of quotes and fees across multiple DEXes on Starknet to provide users with the best rates.
        a(class="border-button" href="https://goerli.cairoswap.com" target="_blank" data-aos="fade-up" data-aos-delay="500") Swap
