section(class="section-dexes mb-7" id="dexes" data-scroll-index="1")
  div(class="container")
    div(class="row align-items-center justify-content-center section-inner")
      div(class="col-12 mb-5")
        h2(class="heading heading--lg mb-2 custom-heading" data-aos="flip-left") Optimize your trades across multiple of DEXes

      div(class="col-6 col-sm-3 col-lg-3" data-aos="zoom-in-up" data-aos-delay="200")
        div(class="dex-item")
          img(src="./assets/images/Jediswap.svg" alt="Jediswap")
      div(class="col-6 col-sm-3 col-lg-3" data-aos="zoom-in-up" data-aos-delay="200")
        div(class="dex-item")
          img(src="./assets/images/10k.svg" alt="10kSwap")
      div(class="col-6 col-sm-3 col-lg-3" data-aos="zoom-in-up" data-aos-delay="200")
        div(class="dex-item")
          img(src="./assets/images/mySwap.svg" alt="MySwap")
      div(class="col-6 col-sm-3 col-lg-3" data-aos="zoom-in-up" data-aos-delay="200")
        div(class="dex-item")
          img(src="./assets/images/Ekubo.svg" alt="Ekubo")
          p Coming soon
